<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <b>Tiêu đề: </b>{{ food_detail.title }} <br>
    <b>Miêu tả: </b>{{ food_detail.description }} <br>
    <img src= "{{ food_detail.link }}">
    {% if food_detail.type == "eat" %}
        <p>Đây là món ăn</p>
    {% else %}
        <p>Đây là đồ uống</p>
    {% endif %}
</body>
</html>