<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for food in foods %}
        <b>Món ăn số </b>{{ loop.index }} <br>
        <b>Tiêu đề: </b>{{ food.title }} <br>
        <b>Miêu tả: </b>{{ food.description }} <br>
        <img src= "{{ food.link }}">
        {% if food.type == "eat" %}
            <p>Đây là món ăn</p>
        {% else %}
            <p>Đây là đồ uống</p>
        {% endif %}
        <a href="/food/{{ loop.index0 }}">Chi tiết món ăn</a>
        <hr>
    {% endfor %}
</body>
</html>