<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% if username in users %}
        <b>Name: </b> {{users[username].name}} <br>
        <b>Age :</b> {{users[username].age}} <br>
        <b>University </b> {{users[username].university}} <br>
        <hr>
        {% else %}
        <p>User not found</p>
        {% endif %}
</body>
</html>