<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new bike</title>
</head>
<body>
    <form method='POST'>
     <b>Model </b> <input type="text" placeholder="e.g. Honda" name="name" required> <br> <br>
     <b>Daily fee(VND) </b> <input type="number" placeholder="100000" name="price" required> <br> <br>
     <b>Image </b> <input type="text" placeholder="e.g. http://hondaxemay" name = "link" required> <br> <br>
     <b>Year </b> <input type="text" placeholder="e.g. 2013" name="year" required> <br><br>
     <input type="submit" placeholder="Submit">
    <form>
</body> 
</html>