<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kristi|Gugi" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/food.css">
</head>

<body>
    <div id="main-menu-text">
        <a class="main-menu-item" href="/region" style="margin-right:5rem;">Home</a>
        <form action="/search">
            <button id="header-search-icon" class="search-btn btn-default" type="submit"><i class="fa fa-search"></i>
            </button>
            <input style="display" class="search-bar" type="text" placeholder="Search something here">
        </form>
        <a class="main-menu-item" href="/login">Login</a>
        <a class="main-menu-item" href="/register">Register</a>
    </div>
    <br><br>
    <h1 class="heading" id="title">{{ food_detail.title }}</h1>
    <div class="detail-bg-text">
        <img id="detail-bg" src="{{ food_detail.link }}" width="400" height="400">
        <div class="food-body">
            <h1 id="description">{{ food_detail.description }}</h1>
            <div class="food-process">
                <div class="ingredients">
                    <h1>Ingredients</h1>
                    <h2>{{food_detail.description}}</h2>
                    <h2>{{food_detail.ingredients}}</h2>
                </div>
                <div class="preparation">
                    <h1>Preparation</h1>
                    <b>{{food_detail.recipe}}</b>
                    <h2 style="margin-right:18rem;">Tra google <br> để biết thêm thông tin chi tiết </h2>
                </div>
            </div>
        </div>
        
        <!-- <h4 class="detail-recipes">RECIPES</h4>
        <hr class="detail-recipes"> -->
    </div>
    
</body>

</html>
