<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kristi|Gugi" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/test.css">
</head>

<body>
    <img src="../static/image/bg-home-gif.gif" id="home-bg-img">
    <div id="main-menu-text">
        <a class="main-menu-item" href="/region" style="margin-right:5rem;">Home</a>
        <form action="/search">
            <button id="header-search-icon" class="search-btn btn-default" type="submit"><i class="fa fa-search"></i>
            </button>
            <input style="display" class="search-bar" type="text" placeholder="Search something here">
        </form>
        <a class="main-menu-item" href="/login">Login</a>
        <a class="main-menu-item" href="/register">Register</a>
    </div>
    <h1>The best </h1>
    <a href="/region" id="start-btn">Get Started</a>
</body>

</html>